<div class="wxBottom" style="width: {{shotWidth}}px;">
  <div class="row" style="padding-right: 0px; padding-left: 0px;padding-bottom: 0px;margin-bottom: 0px">
    <div class="col col-25" style="text-align: center">
      <i class="icon myicon-uniE61F" style="color:#46C01B"></i>
      <div style="height: 12px"></div>
      <span style="color:#46C01B ">微信</span>
    </div>
    <div class="col col-25" style="text-align: center">
      <i class="icon myicon-uniE61E" style=""></i>
      <div style="height: 12px"></div>
      <span style="">通讯录</span>
    </div>
    <div class="col col-25" style="text-align: center">
      <i class="icon myicon-uniE621" style=""></i>
      <div style="height: 12px"></div>
      <span style="">发现</span>
    </div>
    <div class="col col-25" style="text-align: center">
      <i class="icon myicon-uniE620" style=""></i>
      <div style="height: 12px"></div>
      <span style="">我</span>
    </div>
  </div>
</div>
