<!--微信主界面 对话列表-->
<ion-scroll>
  <div class="wxMainContentItem">
    <img class="headerImg" src="img/common/head_pic/1.jpg">
    <div class="nameAndMes">
      <div style="margin-left: 38px;height: 110px;">
        <div style="margin-top: 15px;">
          <div class="mesDate">
            昨天
          </div>
          <div style="font-size: 45px;">
            贾明
          </div>
        </div>
        <div style="margin-top: 45px;font-size: 35px;color: #999999">
          这是消息内容
        </div>
      </div>
    </div>
  </div>
  <div class="wxMainContentItem">
    <img class="headerImg" src="img/common/head_pic/1.jpg">
    <div class="nameAndMes">
      <div style="margin-left: 38px;height: 110px;">
        <div style="margin-top: 15px;">
          <div class="mesDate">
            昨天
          </div>
          <div style="font-size: 45px;">
            贾明
          </div>
        </div>
        <div style="margin-top: 45px;font-size: 35px;color: #999999">
          这是消息内容
        </div>
      </div>
    </div>
  </div><div class="wxMainContentItem">
  <img class="headerImg" src="img/common/head_pic/1.jpg">
  <div class="nameAndMes">
    <div style="margin-left: 38px;height: 110px;">
      <div style="margin-top: 15px;">
        <div class="mesDate">
          昨天
        </div>
        <div style="font-size: 45px;">
          贾明
        </div>
      </div>
      <div style="margin-top: 45px;font-size: 35px;color: #999999">
        这是消息内容
      </div>
    </div>
  </div>
</div>
</ion-scroll>
