<ion-view view-title="影子截图" class="pageContainer" hide-back-button="true" show-tabs>
  <ion-content class="padding" style="padding-left: 0px;padding-right: 0px;">
    <div class="row whitePanel">
      <div style="margin: 0 auto">
        <span class="sub1menuTitle">制作微信截图</span>
      </div>
    </div>
    <div class="row whitePanel" style="padding-bottom: 0px">
      <div class="col col-25 menuBorderRight menuBorderBottom" style="text-align: center;" ui-sref="mainTab.editWXMainConfig">
        <i class="icon myicon-uniE603" style="color: #3281C4;font-size: 27pt;">
        </i>
        <br>
        <span class="sub2menuTitle">微信主界面</span>
        <div style="height: 5px;text-align: center;margin-top: 1px;">
        </div>
      </div>
      <div class="col col-25 menuBorderRight menuBorderBottom" style="text-align: center;">
        <i class="icon myicon-uniE604" style="color: #15B0C6;font-size: 27pt;">
        </i>
        <br>
        <span class="sub2menuTitle">微信聊天</span>
        <div style="height: 10px;margin-top: 1px;">
          <i class="icon myicon-uniE60B menuAnchor">
          </i>
        </div>
      </div>
      <div class="col col-25 menuBorderRight menuBorderBottom" style="text-align: center;">
        <div style="height: 5px"></div>
        <i class="icon myicon-uniE606" style="color: #DE4E39;font-size: 18pt;">
        </i>
        <br>
        <div style="height: 6px"></div>
        <span class="sub2menuTitle">微信红包</span>
        <div style="height: 10px"></div>
      </div>
      <div class="col col-25 menuBorderBottom" style="text-align: center;">
        <i class="icon myicon-uniE613" style="color: #F2931A;font-size: 26pt;">
        </i>
        <br>
        <div style="height: 3px"></div>
        <span class="sub2menuTitle">微信钱包</span>
        <div style="height: 10px"></div>
      </div>
    </div>
    <div class="row whitePanel" style="padding-bottom: 0px">
      <div class="col col-25 menuBorderRight" style="text-align: center;">
        <div style="height: 11px"></div>
        <i class="icon myicon-uniE60C" style="color: #F3E244;font-size: 25pt;">
        </i>
        <br>
        <span class="sub2menuTitle">微信转账</span>
        <div style="height: 10px"></div>
      </div>
      <div class="col col-25 menuBorderRight" style="text-align: center;">
        <div style="height: 11px"></div>
        <i class="icon myicon-uniE60F" style="color: #BC91C1;font-size: 25pt;">
        </i>
        <br>
        <span class="sub2menuTitle">添加盆友</span>
        <div style="height: 10px"></div>
      </div>
      <div class="col col-25 menuBorderRight" style="text-align: center;">
      </div>
      <div class="col col-25" style="text-align: center;">
      </div>
    </div>

    <div class="row whitePanel" style="margin-top: 10px;padding-top: 5px;">
      <div style="margin: 0 auto">
        <span class="sub1menuTitle">支付宝截图制作</span>
      </div>
    </div>
    <div class="row whitePanel" style="padding-bottom: 0px">
      <div class="col col-25 menuBorderRight " style="text-align: center;">
        <div style="height: 5px"></div>
        <i class="icon myicon-uniE614" style="color: #EA562A;font-size: 25pt;">
        </i>
        <br>
        <span class="sub2menuTitle">支付宝转账</span>
        <div style="height: 5px"></div>
      </div>
      <div class="col col-25 menuBorderRight " style="text-align: center;">
        <div style="height: 5px"></div>
        <i class="icon myicon-uniE615" style="color: #7A8AC4;font-size: 25pt;">
        </i>
        <br>
        <span class="sub2menuTitle">支付宝聊天</span>
        <div style="height: 5px"></div>
      </div>
      <div class="col col-25 menuBorderRight " style="text-align: center;">
        <div style="height: 5px"></div>
        <i class="icon myicon-uniE616 " style="color: #C4D340;font-size: 22pt;">
        </i>
        <br>
        <div style="height: 5px"></div>
        <span class="sub2menuTitle">账单</span>
        <div style="height: 5px"></div>
      </div>
      <div class="col col-25 " style="text-align: center;">
        <div style="height: 5px"></div>
        <i class="icon myicon-uniE619" style="color: #033A92;font-size: 22pt;">
        </i>
        <br>
        <div style="height: 5px"></div>
        <span class="sub2menuTitle">我的</span>
        <div style="height: 5px"></div>
      </div>
    </div>
  </ion-content>
</ion-view>

